    body {
        font-family: 'Lalezar', cursive;
      background-color: #f5f7fa;
      margin: 0;
      padding: 0;
      color: #333;
      line-height: 1.8;
    }
    .container {
      max-width: 850px;
      margin: 2rem auto;
      padding: 2rem;
      background: #fff;
      border-radius: 1rem;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    }
    .post-header {
      border-bottom: 1px solid #ddd;
      margin-bottom: 1.5rem;
      padding-bottom: 1rem;
    }
    .post-header h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    .post-meta {
      font-size: 0.9rem;
      color: #777;
    }
    .post-image {
      width: 100%;
      height: auto;
      border-radius: 0.75rem;
      margin: 1.5rem 0;
    }
    .post-content p {
      margin-bottom: 1.2rem;
      text-align: justify;
    }
    .post-content blockquote {
      border-right: 4px solid #0077cc;
      padding-right: 1rem;
      margin: 2rem 0;
      background: #f0f8ff;
      border-radius: 0.5rem;
    }

    .post-content h2{
      font-weight: 300;
      font-size: xx-large;
     }

    .tags {
      margin-top: 2rem;
    }
    .tags span {
      background: #e1ecf4;
      color: #0366d6;
      padding: 0.3rem 0.8rem;
      border-radius: 999px;
      font-size: 0.85rem;
      margin-left: 0.5rem;
      display: inline-block;
    }
    .back-link {
      margin-top: 3rem;
      display: block;
      text-align: center;
      color: #0077cc;
      text-decoration: none;
      font-weight: bold;
    }