<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__column footer__brand">
        <h3 class="footer__logo">OFFSITE</h3>
        <p class="footer__text">
          پلتفرم آموزشی Ledu ارائه‌دهنده بهترین دوره‌های آنلاین با تمرکز بر کیفیت و تجربه کاربری است.
        </p>
      </div>

      <div class="footer__column">
        <h4 class="footer__title">لینک‌های مفید</h4>
        <ul class="footer__menu">
          <li><a href="{% url 'home:home' %}" class="footer__link">صفحه اصلی</a></li>
          <li><a href="{% url 'courses:allcourses' %}" class="footer__link">دوره‌ها</a></li>
          <li><a href="#" class="footer__link">درباره ما</a></li>
          <li><a href="{% url 'home:contactus' %}" class="footer__link">تماس با ما</a></li>
        </ul>
      </div>

      <div class="footer__column">
        <h4 class="footer__title">ما را دنبال کنید</h4>
        <ul class="footer__social">
          <li><a href="#" class="footer__social-link">اینستاگرام</a></li>
          <li><a href="#" class="footer__social-link">تلگرام</a></li>
          <li><a href="#" class="footer__social-link">توییتر</a></li>
        </ul>
      </div>
    </div>

    <div class="footer__bottom">
      <p class="footer__copyright">
        © تمامی این قالب توسط تیم WEBRAH در سال 1404 ساخته شده
      </p>
    </div>
  </div>
</footer>